@{
    ViewData["Title"] = "NOVEDADES";
}

<div class="d-flex">
    <div class="d-flex container justify-content-center">
        <h2 class="text-center pill-heading">Carga de novedades de sueldos</h2>
    </div>
    <div class="d-flex p-4">
    </div>

</div>