<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Novedades_HP3C.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/personal.css" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <script src="~/js/layout-moderno.js"></script>
</head>
<body>
    <div class="app-layout-vertical">
        <header class="topbar-vertical">
            <button id="btnToggleSidebar" class="btn-hamburger">
                <i class="bi bi-list"></i>
            </button>
            <div class="topbar-left">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo_min.png" class="topbar-logo" />
                </a>
            </div>
            <div class="topbar-right dropdown">
                <a href="#" class="user-icon dropdown-toggle"
                   id="userDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">

                    <i class="bi bi-person-fill"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end shadow user-dropdown"
                    aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Usuarios" asp-action="Perfil"><i class="bi bi-person me-2"></i> Perfil</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" asp-controller="Acceso" asp-action="CerrarSesion">
                            <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

        </header>

        <div class="main-wrapper-vertical">
            <aside id="sidebarVertical" class="sidebar-vertical collapsed">
                
                <ul class="sidebar-menu-vertical">
                    <li class="has-submenu">
                        <a class="submenu-toggle" data-bs-toggle="collapse" href="#submenuNovedades"
                           role="button" aria-expanded="false" aria-controls="submenuNovedades">
                            <i class="bi bi-megaphone"></i>
                            <span>Novedades</span>
                            <i class="bi bi-chevron-down ms-auto chevron"></i>
                        </a>

                        <ul class="collapse submenu" id="submenuNovedades">
                            <li><a asp-controller="Novedades" asp-action="ConfigNovedades">Configurar novedades</a></li>
                            <li><a asp-controller="Novedades" asp-action="CargaNovedades">Registrar novedades</a></li>
                            <li><a asp-controller="Novedades" asp-action="ControlNovedades">Control novedades</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a class="submenu-toggle" data-bs-toggle="collapse" href="#submenuPersonal"
                           role="button" aria-expanded="false" aria-controls="submenuNovedades">
                            <i class="bi bi-people"></i>
                            <span>Personal</span>
                            <i class="bi bi-chevron-down ms-auto chevron"></i>
                        </a>

                        <ul class="collapse submenu" id="submenuPersonal">
                            <li><a asp-controller="Personal" asp-action="Personal">Nómina de personal</a></li>
                            <li><a asp-controller="Personal" asp-action="Calendario">Calendario del personal</a></li>
                            <li><a asp-controller="Personal" asp-action="RegistroAsistencia">Registro de asistencia</a></li>
                            <li><a asp-controller="Personal" asp-action="ControlAsistencia">Control de asistencia</a></li>
                        </ul>
                    </li>

                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="bi bi-speedometer2"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ajustes" asp-action="Ajustes">
                            <i class="bi bi-gear-fill"></i>
                            <span>Ajustes</span>
                        </a>
                    </li>
                </ul>
            </aside>

            <main class="container-fluid p-4">
                @RenderBody()
            </main>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.js"></script>

</body>
</html>
