@{
    ViewData["Title"] = "PERSONAL";
}

<div class="container-fluid">
    <div class="d-flex justify-content-center mb-3">
        <h2 class="text-center pill-heading">Gestión del personal</h2>
    </div>

    

</div>


@section Scripts{
    <link href="~/js/personal.js" />
}