@{
    ViewData["Title"] = "AJUSTES";
}

<div class="d-flex">
    <div class="d-flex container justify-content-center">
        <h2 class="text-center pill-heading">Ajustes</h2>
    </div>
    <div class="d-flex p-4">
    </div>

</div>